#!/bin/sh
PYTHON="{{ target }}/.venv/bin/python"
INSTANCE_HOME="{{ target }}/parts/zeo"
CONFIG_FILE="{{ target }}/parts/zeo/etc/zeo.conf"
ZODB3_HOME=$(${PYTHON} -c 'import ZEO; print(ZEO.__path__[0])')

export INSTANCE_HOME
echo "$PYTHON" -m ZEO.runzeo -C "$CONFIG_FILE" ${1+"$@"}
exec "$PYTHON" -m ZEO.runzeo -C "$CONFIG_FILE" ${1+"$@"}
